@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.leftSide{
    background-color: #FAFAFA;
    padding-left: 5%;
    /* display: none; */
    overflow-y: scroll;
}
.sub_categorie{
    border: solid 2px yellow;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
.yellow{
    background-color: #FFF06D;
}
.categoria{
    width: 100%;
    display: flex;
}
.down-up{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    width: 10%;
}
.amarillo{
    background-color: yellow;
}
.clear_filter{
    color: rgba(0, 0, 0, 0.37);
    justify-self: flex-end;
    font-size: smaller;
    display: flex;
    justify-content: end;
    margin: 12%;

}
::-webkit-scrollbar{
    width: 1%;
    color: black;
}